body{
    margin: 0;
    padding: 0;
    background: #ee3d;
}

.topNavbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: red;
    padding: 0 25px;
}

.navContent-right{
    align-items: center;
    display: flex;
    gap: 44px;
    background-color: blue;
}

.btn-nav {
    display: flex;
    border: solid 1 #000000;
    width: 70px;
    height: 30px;
    background: #f324f3;
    align-items: center;
    justify-content: center;
    border-radius: 6px;
}

.btn-nav:hover {
    background: #f43245;
}

.navContent-right a{
    color: black;
    text-decoration: none;
}

.header-content h1{
    margin: 0;
}

.header-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 5vh;
}

.body-content {
    display: flex;
    flex-direction: row;
    background-color: rgb(4, 115, 235);
    margin: 0 17px;
    justify-content: space-between;
}

.contact-form-wrapper {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.contact-form-wrapper input{
    border-radius: 4px;
    text-indent: 5px;
    border: 2px black solid;
}

.contact-form-wrapper textarea {
    border-radius: 4px;
    border: 2px black solid;
    text-indent: 2px;
}

.contact-form-wrapper #short-text {
    height: 4vh;
}

.contact-form-wrapper #long-text {
    height: 12vh;
    padding: 5px;
}

.contact-form-wrapper, .contact-information-wrapper{
    background-color: aquamarine;
    padding: 12px;
}

.contact-information-wrapper {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.contact-information-wrapper .contact-details {
    display: flex;
    flex-direction: column;
    gap: 20px;
}