body{
    margin: 0;
    padding: 0;
    background: #ffffff;
    font-family: 'Inter', sans-serif;
}

.topNavbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #ffffff;
    padding: 10px 25px;
}

.navContent-right{
    align-items: center;
    display: flex;
    margin-right: 20;
}

.btn-nav {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 45px 0 45px;
}

.btn-nav-auth {
    display: flex;
    color: #ffffff;
    width: 70px;
    height: 30px;
    background: #8BC34A;
    align-items: center;
    justify-content: center;
    border-radius: 3px;
    margin: 0 45px 0 45px;
}

.btn-nav:hover {
    text-decoration: underline;
}

.btn-nav-auth:active {
    background: #ffffff;
    color: #87c73e;
}

.navContent-right a{
    color: black;
    text-decoration: none;
}

.header {
    align-items: center ;
    justify-content: center;
    margin: 0;
    font-weight: 800;
    font-size: 3rem;
}

.subheader {
    align-items: center;
    justify-content: center;
    font-size: 1.2rem;
}

.header-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 15vh;
}

.body-content {
    display: flex;
    flex-direction: row;
    margin: 0 17px;
    justify-content: space-between;
}

.contact-form-wrapper {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 40%;
    height: auto;
    border-radius: 12px;
}

.header-chat {
    font-weight: 900;
}

.contact-form-wrapper input{
    border-radius: 4px;
    text-indent: 5px;
    border: 2px #ffffff solid;
}

.contact-form-wrapper textarea {
    border-radius: 4px;
    border: 2px #ffffff solid;
    text-indent: 2px;
    resize: none;
}

.contact-form-wrapper #short-text {
    height: 4vh;
}

.contact-form-wrapper #long-text {
    height: 12vh;
    padding: 5px;
}

.contact-form-wrapper, .contact-information-wrapper{
    background-color: #8BC34A;
    padding: 12px;
}

.contact-information-wrapper {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 40%;
    height: auto;
    border-radius: 12px;
    color: #ffffff;
}

.icon {
    width: 20px;
    height: 20px;
    margin-right: 20px;
}

.icon-info {
    display: flex;
    margin-bottom: 25px;
    align-items: center;
}

.header-contact {
    margin-bottom: 20px;
}

.contact-information-wrapper .contact-details {
    display: flex;
    flex-direction: column;
    gap: 20px;
}