body{
    margin: 0;
    padding: 0;
    background: #ffffff;
    font-family: 'Inter', sans-serif;
}

.topNavbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #ffffff;
    padding: 10px 25px;
}

.navContent-right{
    align-items: center;
    display: flex;
    margin-right: 20;
}

.btn-nav {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 45px 0 45px;
}

.btn-nav-auth {
    display: flex;
    color: #ffffff;
    width: 70px;
    height: 30px;
    background: #8BC34A;
    align-items: center;
    justify-content: center;
    border-radius: 3px;
    margin: 0 45px 0 45px;
}

.btn-nav:hover {
    background: #87c73e;
}

.navContent-right a{
    color: black;
    text-decoration: none;
}

.top-slider {
    background-image: url(/img/Rectangle_7.svg);
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    background: #ffffff;
    height: 350px;
    width: 100vw;
}

.main-body {
    display: flex;
    flex-direction: column;
    padding: 0 40px;
    background-color: #ffffff;
}

.bottom-body-boxes {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.content {
    display: flex;
    max-height: 60%;
    max-width: 40%;
}

.boxes-limbad {
    display: flex;
    margin: 0 20px 0 20px;
    border: solid 4px #8BC34A;
    border-radius: 4px;
    background: #ffffff;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 50%;
    height: 40vh;
}