body{
    margin: 0;
    padding: 0;
    background: #ffffff;
    font-family: 'Inter', sans-serif;
}

.topNavbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #ffffff;
    padding: 10px 25px;
}

.navContent-right{
    align-items: center;
    display: flex;
    margin-right: 20;
}

.btn-nav {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 45px 0 45px;
}

.btn-nav-auth {
    display: flex;
    color: #ffffff;
    width: 70px;
    height: 30px;
    background: #8BC34A;
    align-items: center;
    justify-content: center;
    border-radius: 3px;
    margin: 0 45px 0 45px;
}

.btn-nav:hover {
    text-decoration: underline;
}

.btn-nav-auth:active {
    background: #ffffff;
    color: #87c73e;
}

.navContent-right a{
    color: black;
    text-decoration: none;
}

.header-content {
    display: flex;
    justify-content: center;
}

.header-content h1{
    margin: 0;
    margin-bottom: 8vh;
}

.body-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.input-log .btn-log {
    width: 100%;   
}

.input-log {
    height: 40px;
    width: 25vw;
    border: solid 1px #E0E0E0;
    border-radius: 6px;
}

#login-form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-bottom: 15px;
}

.btn-log {
    height: 40px;
    width: 25vw;
    border: none;
    background-color: #3E8E41;
    color: #ffffff;
    border-radius: 6px;
    padding-right: 5vw;
    padding-left: 5vw;
    cursor: pointer;
}

.bottom-login {
    display: flex;
    flex-direction: column;
    gap: 3px;
    align-items: center;
}

.forget-text {
    color: #0080FF;
}
