<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BankLimbah | Contact</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/contact.css">
</head>
<body>
    <nav class="topNavbar">
        <div>
            <img src="/img/logo.svg" alt="">
        </div>
        <div class="navContent-right">
            <a class="btn-nav" href="pricing_page.html">Pricing</a>
            <a class="btn-nav" href="contact_page.html">Contact</a>
            <a class="btn-nav-auth" href="login_page.html">Login</a>
        </div>
    </nav>
    <div class="header-content">
        <span class="header">Contact</span>
        <span class="subheader">Pusat Informasi dan Bantuan</span>
    </div>
    <div class="body-content">
        <div class="contact-form-wrapper">
                <span class="header-chat">Kirim Pesan</span>
                <input id="short-text" type="text" placeholder="Nama">
                <input id="short-text" type="email" placeholder="Email">
                <textarea id="long-text" type="text" placeholder="Pesan"></textarea>
        </div>
        <div class="contact-information-wrapper">
            <span class="header-contact">Informasi Kontak</span>
            <div class="contact-details">
                <div class="icon-info">
                    <img src="/img/call.svg" alt="" class="icon"> <span>Telpon: +62 812-3456-7890</span>
                </div>
                <div class="icon-info">
                    <img src="/img/mail.svg" alt="" class="icon"> <span>Email: testmail@gmail.com</span>
                </div>
                <div class="icon-info">
                    <img src="/img/location_on.svg" alt="" class="icon"> <span>Alamat: Address</span>
                </div>
            </div>
        </div>
    </div>
</body>
</html>