<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BankLimbah | Contact</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/contact.css">
</head>
<body>
    <nav class="topNavbar">
        <div>
            <h3>ANTON KECAP</h3>
            <a href="index.html">back</a>
        </div>
        <div class="navContent-right">
            <a class="btn-nav" href="#">Pricing</a>
            <a class="btn-nav" href="#">Contact</a>
            <a class="btn-nav" href="#">Login</a>
        </div>
    </nav>
    <div class="header-content">
        <h1 id="header">Contact</h1>
        <span id="subheader">Pusat Informasi dan Bantuan</span>
    </div>
    <div class="body-content">
        <div class="contact-form">
            <div class="contact-form-wrapper">
                <span>Kirim Pesan</span>
                <input id="short-text" type="text" placeholder="Nama">
                <input id="short-text" type="email" placeholder="Email">
                <textarea id="long-text" type="text" placeholder="Pesan"></textarea>
            </div>
        </div>
        <div class="contact-information">
            <div class="contact-information-wrapper">
                <span>Informasi Kontak</span>
                <div class="contact-details">
                    <img src="" alt=""> <span>Telpon: +62 812-3456-7890</span>
                    <img src="" alt=""> <span>Email: testmail@gmail.com</span>
                    <img src="" alt=""> <span>Alamat: Address</span>
                </div>
            </div>
        </div>
    </div>
</body>
</html>