<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BankLimbah | Penjualan</title>

    <!-- Correct Google Material Symbols import -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" />

    <link rel="stylesheet" href="../css/detail_penjualan.css">
</head>
<body>

    <nav class="navbar">
        <div class="nav-left">
            <img src="https://i.imgur.com/GRXWmeI.png" class="logo" alt="Logo">
        </div>

        <div class="nav-right">
            <a href="#" class="nav-link">Pricing</a>
            <a href="#" class="nav-link">Contact</a>
            <span>(Profile)</span>
        </div>
    </nav>

    <div class="header-content">
        <a id="dropdown" href="#">
            Plastik 
            <span class="material-symbols-outlined">stat_minus_1</span>
        </a>
    </div>

    <div class="body-content">
        <div class="content-produk">
            <div class="produk">
                <img src="https://firebasestorage.googleapis.com/v0/b/kepul-apps.appspot.com/o/products%2FSampahOutline_Plastik%20-%20Atom%20Hitam.png?alt=media&token=9e08077b-c569-44bb-9f71-80cbbcebe78b" alt="">
                <div class="produk-inner">
                    <span class="produk-title">Botol Marjan</span>
                    <span class="pricing">1000/kg</span>
                </div>
            </div>
            <div class="produk">
                <img src="https://firebasestorage.googleapis.com/v0/b/kepul-apps.appspot.com/o/products%2FSampahOutline_Plastik%20-%20Atom%20Hitam.png?alt=media&token=9e08077b-c569-44bb-9f71-80cbbcebe78b" alt="">
                <div class="produk-inner">
                    <span class="produk-title">Botol Marjan</span>
                    <span class="pricing">1000/kg</span>
                </div>
            </div>
            <div class="produk">
                <img src="https://firebasestorage.googleapis.com/v0/b/kepul-apps.appspot.com/o/products%2FSampahOutline_Plastik%20-%20Atom%20Hitam.png?alt=media&token=9e08077b-c569-44bb-9f71-80cbbcebe78b" alt="">
                <div class="produk-inner">
                    <span class="produk-title">Botol Marjan</span>
                    <span class="pricing">1000/kg</span>
                </div>
            </div>
            <div class="produk">
                <img src="https://firebasestorage.googleapis.com/v0/b/kepul-apps.appspot.com/o/products%2FSampahOutline_Plastik%20-%20Atom%20Hitam.png?alt=media&token=9e08077b-c569-44bb-9f71-80cbbcebe78b" alt="">
                <div class="produk-inner">
                    <span class="produk-title">Botol Marjan</span>
                    <span class="pricing">1000/kg</span>
                </div>
            </div>
            <div class="produk">
                <img src="https://firebasestorage.googleapis.com/v0/b/kepul-apps.appspot.com/o/products%2FSampahOutline_Plastik%20-%20Atom%20Hitam.png?alt=media&token=9e08077b-c569-44bb-9f71-80cbbcebe78b" alt="">
                <div class="produk-inner">
                    <span class="produk-title">Botol Marjan</span>
                    <span class="pricing">1000/kg</span>
                </div>
            </div>
            <div class="produk">
                <img src="https://firebasestorage.googleapis.com/v0/b/kepul-apps.appspot.com/o/products%2FSampahOutline_Plastik%20-%20Atom%20Hitam.png?alt=media&token=9e08077b-c569-44bb-9f71-80cbbcebe78b" alt="">
                <div class="produk-inner">
                    <span class="produk-title">Botol Marjan</span>
                    <span class="pricing">1000/kg</span>
                </div>
            </div>
        </div>

        <div class="bottom">
            <div class="details">
                <span id="detail-title">Detail Penjualan:</span>
                <div class="penjualan">
                    <span id="item">Item x20 <span>10,000</span> </span>
                    <span id="item">Item x20 <span>10,000</span> </span> 
                    <span id="item">Item x20 <span>10,000</span> </span> 
                    <span id="item">Item x20 <span>10,000</span> </span> 
                </div>
            </div>
            <div class="result">
                <span id="price">Rp. 10,000</span>
                <a id="sell-button" href="#">Jual</a>
            </div>
        </div>
    </div>
</body>
</html>
