<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BankLimbah | Home</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/index.css">
</head>
<body>
    <nav class="topNavbar">
        <div>
            <img src="/img/logo.svg" alt="">
        </div>
        <div class="navContent-right">
            <a class="btn-nav" href="pricing_page.html">Pricing</a>
            <a class="btn-nav" href="#">Contact</a>
            <a class="btn-nav-auth" href="#">Login</a>
        </div>
    </nav>
    <div class="top-slider">
        <img src="/img/Rectangle_7.svg" alt="">
    </div>
    <div class="main-body">
        <div class="bottom-body">
            <p>Jenis Limbah:</p>
            <div class="bottom-body-boxes">
                <div class="boxes-limbad">
                    <img src="/img/oil_barrel.svg" alt="" class="content">
                    <h3>Minyak</h3>
                </div>
                <div class="boxes-limbad">
                    <img src="/img/water_bottle.svg" alt="" class="content">
                    <h3>Plastik</h3>
                </div>
                <div class="boxes-limbad">
                    <img src="/img/liquor.svg" alt="" class="content">
                    <h3>Kaca</h3>
                </div>
            </div>
        </div>
    </div>
</body>
</html>