<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BankLimbah | Login</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/login.css">
</head>
<body>
    <nav class="topNavbar">
        <div>
            <img src="/img/logo.svg" alt="">
        </div>
        <div class="navContent-right">
            <a class="btn-nav" href="pricing_page.html">Pricing</a>
            <a class="btn-nav" href="contact_page.html">Contact</a>
            <a class="btn-nav-auth" href="login_page.html">Login</a>
        </div>
    </nav>
    <div class="header-content">
        <h1 id="header">Login</h1>
    </div>
    <div class="body-content">
        <form id="login-form" action="" method="POST">
            <input type="text" placeholder="Email or Username" class="input-log">
            <input type="password" placeholder="Password" class="input-log">
            <button type="submit" class="btn-log">Login</button>
        </form>
        <div class="bottom-login">
            <a href="#" class="forget-text">Forgot Password?</a>
            <span>By clicking continue, you agree to our 
                <a href="#">Terms of Service</a>
                and
                <a href="#">Privacy Policy</a>
            </span>
        </div>
    </div>
</body>
</html>