<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BankLimbah | Pricing</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../css/pricing.css">
</head>
<body>
    <nav class="topNavbar">
        <div>
            <img src="/img/logo.svg" alt="">
        </div>
        <div class="navContent-right">
            <a class="btn-nav" href="pricing_page.html">Pricing</a>
            <a class="btn-nav" href="contact_page.html">Contact</a>
            <a class="btn-nav-auth" href="login_page.html">Login</a>
        </div>
    </nav>
    <div class="header-content">
        <span id="header">Pricing</span>
        <span id="subheader">Daftar Harga Produk</span>
    </div>
    <div class="body-content">
        <span>Plastik</span>
        <div class="content-produk">
            <div class="produk">
                <img src="https://firebasestorage.googleapis.com/v0/b/kepul-apps.appspot.com/o/products%2FSampahOutline_Plastik%20-%20Atom%20Hitam.png?alt=media&token=9e08077b-c569-44bb-9f71-80cbbcebe78b" alt="">
                <div class="produk-inner">
                    <span class="produk-title">Botol Marjan</span>
                    <span class="pricing">1000/kg</span>
                </div>
            </div>
            <div class="produk">
                <img src="https://firebasestorage.googleapis.com/v0/b/kepul-apps.appspot.com/o/products%2FSampahOutline_Plastik%20-%20Atom%20Hitam.png?alt=media&token=9e08077b-c569-44bb-9f71-80cbbcebe78b" alt="">
                <div class="produk-inner">
                    <span class="produk-title">Botol Marjan</span>
                    <span class="pricing">1000/kg</span>
                </div>
            </div>
            <div class="produk">
                <img src="https://firebasestorage.googleapis.com/v0/b/kepul-apps.appspot.com/o/products%2FSampahOutline_Plastik%20-%20Atom%20Hitam.png?alt=media&token=9e08077b-c569-44bb-9f71-80cbbcebe78b" alt="">
                <div class="produk-inner">
                    <span class="produk-title">Botol Marjan</span>
                    <span class="pricing">1000/kg</span>
                </div>
            </div>
            <div class="produk">
                <img src="https://firebasestorage.googleapis.com/v0/b/kepul-apps.appspot.com/o/products%2FSampahOutline_Plastik%20-%20Atom%20Hitam.png?alt=media&token=9e08077b-c569-44bb-9f71-80cbbcebe78b" alt="">
                <div class="produk-inner">
                    <span class="produk-title">Botol Marjan</span>
                    <span class="pricing">1000/kg</span>
                </div>
            </div>
            <div class="produk">
                <img src="https://firebasestorage.googleapis.com/v0/b/kepul-apps.appspot.com/o/products%2FSampahOutline_Plastik%20-%20Atom%20Hitam.png?alt=media&token=9e08077b-c569-44bb-9f71-80cbbcebe78b" alt="">
                <div class="produk-inner">
                    <span class="produk-title">Botol Marjan</span>
                    <span class="pricing">1000/kg</span>
                </div>
            </div>
            <div class="produk">
                <img src="https://firebasestorage.googleapis.com/v0/b/kepul-apps.appspot.com/o/products%2FSampahOutline_Plastik%20-%20Atom%20Hitam.png?alt=media&token=9e08077b-c569-44bb-9f71-80cbbcebe78b" alt="">
                <div class="produk-inner">
                    <span class="produk-title">Botol Marjan</span>
                    <span class="pricing">1000/kg</span>
                </div>
            </div>
        </div>
        <span>Kaca</span>
        <div class="content-produk">
            <div class="produk">
                <img src="https://firebasestorage.googleapis.com/v0/b/kepul-apps.appspot.com/o/products%2FSampahOutline_Plastik%20-%20Atom%20Hitam.png?alt=media&token=9e08077b-c569-44bb-9f71-80cbbcebe78b" alt="">
                <div class="produk-inner">
                    <span class="produk-title">Botol Marjan</span>
                    <span class="pricing">1000/kg</span>
                </div>
            </div>
            <div class="produk">
                <img src="https://firebasestorage.googleapis.com/v0/b/kepul-apps.appspot.com/o/products%2FSampahOutline_Plastik%20-%20Atom%20Hitam.png?alt=media&token=9e08077b-c569-44bb-9f71-80cbbcebe78b" alt="">
                <div class="produk-inner">
                    <span class="produk-title">Botol Marjan</span>
                    <span class="pricing">1000/kg</span>
                </div>
            </div>
            <div class="produk">
                <img src="https://firebasestorage.googleapis.com/v0/b/kepul-apps.appspot.com/o/products%2FSampahOutline_Plastik%20-%20Atom%20Hitam.png?alt=media&token=9e08077b-c569-44bb-9f71-80cbbcebe78b" alt="">
                <div class="produk-inner">
                    <span class="produk-title">Botol Marjan</span>
                    <span class="pricing">1000/kg</span>
                </div>
            </div>
            <div class="produk">
                <img src="https://firebasestorage.googleapis.com/v0/b/kepul-apps.appspot.com/o/products%2FSampahOutline_Plastik%20-%20Atom%20Hitam.png?alt=media&token=9e08077b-c569-44bb-9f71-80cbbcebe78b" alt="">
                <div class="produk-inner">
                    <span class="produk-title">Botol Marjan</span>
                    <span class="pricing">1000/kg</span>
                </div>
            </div>
            <div class="produk">
                <img src="https://firebasestorage.googleapis.com/v0/b/kepul-apps.appspot.com/o/products%2FSampahOutline_Plastik%20-%20Atom%20Hitam.png?alt=media&token=9e08077b-c569-44bb-9f71-80cbbcebe78b" alt="">
                <div class="produk-inner">
                    <span class="produk-title">Botol Marjan</span>
                    <span class="pricing">1000/kg</span>
                </div>
            </div>
            <div class="produk">
                <img src="https://firebasestorage.googleapis.com/v0/b/kepul-apps.appspot.com/o/products%2FSampahOutline_Plastik%20-%20Atom%20Hitam.png?alt=media&token=9e08077b-c569-44bb-9f71-80cbbcebe78b" alt="">
                <div class="produk-inner">
                    <span class="produk-title">Botol Marjan</span>
                    <span class="pricing">1000/kg</span>
                </div>
            </div>
        </div>
        <span>Minyak</span>
        <div class="content-produk">
            <div class="produk">
                <img src="https://firebasestorage.googleapis.com/v0/b/kepul-apps.appspot.com/o/products%2FSampahOutline_Plastik%20-%20Atom%20Hitam.png?alt=media&token=9e08077b-c569-44bb-9f71-80cbbcebe78b" alt="">
                <div class="produk-inner">
                    <span class="produk-title">Botol Marjan</span>
                    <span class="pricing">1000/kg</span>
                </div>
            </div>
            <div class="produk">
                <img src="https://firebasestorage.googleapis.com/v0/b/kepul-apps.appspot.com/o/products%2FSampahOutline_Plastik%20-%20Atom%20Hitam.png?alt=media&token=9e08077b-c569-44bb-9f71-80cbbcebe78b" alt="">
                <div class="produk-inner">
                    <span class="produk-title">Botol Marjan</span>
                    <span class="pricing">1000/kg</span>
                </div>
            </div>
            <div class="produk">
                <img src="https://firebasestorage.googleapis.com/v0/b/kepul-apps.appspot.com/o/products%2FSampahOutline_Plastik%20-%20Atom%20Hitam.png?alt=media&token=9e08077b-c569-44bb-9f71-80cbbcebe78b" alt="">
                <div class="produk-inner">
                    <span class="produk-title">Botol Marjan</span>
                    <span class="pricing">1000/kg</span>
                </div>
            </div>
            <div class="produk">
                <img src="https://firebasestorage.googleapis.com/v0/b/kepul-apps.appspot.com/o/products%2FSampahOutline_Plastik%20-%20Atom%20Hitam.png?alt=media&token=9e08077b-c569-44bb-9f71-80cbbcebe78b" alt="">
                <div class="produk-inner">
                    <span class="produk-title">Botol Marjan</span>
                    <span class="pricing">1000/kg</span>
                </div>
            </div>
            <div class="produk">
                <img src="https://firebasestorage.googleapis.com/v0/b/kepul-apps.appspot.com/o/products%2FSampahOutline_Plastik%20-%20Atom%20Hitam.png?alt=media&token=9e08077b-c569-44bb-9f71-80cbbcebe78b" alt="">
                <div class="produk-inner">
                    <span class="produk-title">Botol Marjan</span>
                    <span class="pricing">1000/kg</span>
                </div>
            </div>
            <div class="produk">
                <img src="https://firebasestorage.googleapis.com/v0/b/kepul-apps.appspot.com/o/products%2FSampahOutline_Plastik%20-%20Atom%20Hitam.png?alt=media&token=9e08077b-c569-44bb-9f71-80cbbcebe78b" alt="">
                <div class="produk-inner">
                    <span class="produk-title">Botol Marjan</span>
                    <span class="pricing">1000/kg</span>
                </div>
            </div>
        </div>
    </div>
</body>
</html>